/* src/theme.css */
:root {
  --font-family: "Playfair Display", serif;

  /* Colors */
  --bg-color-primary: #f5f5f5;
  --bg-color-secondary: #ffffff;
  --text-color-primary: #333333;
  --text-color-secondary: #666666;
  --text-color-Black: #000000;

  /* Font Sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

/* @media (min-width: 1800px) {
  body {
    transform: scale(1);
  }
} */
