.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #007bff;
  background-size: 50%;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: #0056b3;
  transition: 0.3s ease-in-out;
}
.carousel-control-next-icon {
  background-image: url("../../assets/svg/CarouselIconleft.svg");
}
.carousel-control-prev-icon {
  background-image: url("../../assets/svg/CarouselIconRight.svg");
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
.carousel-caption {
  top: 11rem;
}
.Parent_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgBlackOpacity {
  background-color: #0000005c;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  left: 0;
  right: 0;
}
.z_indexCalss {
  position: absolute;
  z-index: 999;
}
.displaynone {
  display: none;
}
@media (max-width: 480px) {
  .CarouselFont {
    font-size: 1rem !important;
  }
  .CarouselFont2 {
    font-size: 0.8rem !important;
  }
  .bgBlackOpacity {
    height: 100% !important;
  }
  .bgBlackOpacityImg {
    height: 100% !important;
  }
  .carousel-caption {
    top: 1rem !important;
    margin: 0 !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: transparent;
  }
  .carousel-control-next-icon:hover,
  .carousel-control-prev-icon:hover {
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  .z_indexCalss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel-caption {
    margin: 0 !important;
    padding: 0 !important;
  }
  .marginClass {
    margin: 0.5rem 0 !important;
  }
  .displaynone {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .CarouselFont {
    font-size: 1.5rem !important;
  }
  .CarouselFont2 {
    font-size: 0.8rem !important;
  }
  .bgBlackOpacity {
    height: 100% !important;
  }
  .bgBlackOpacityImg {
    height: 100% !important;
  }
  .carousel-caption {
    top: 1rem !important;
    margin: 0 !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: transparent;
  }
  .carousel-control-next-icon:hover,
  .carousel-control-prev-icon:hover {
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  .z_indexCalss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .displaynone {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .CarouselFont {
    font-size: 2rem !important;
  }
  .CarouselFont2 {
    font-size: 0.8rem !important;
  }
  .bgBlackOpacity {
    height: 100% !important;
  }
  .bgBlackOpacityImg {
    height: 100% !important;
  }
  .carousel-caption {
    top: 1rem !important;
    margin: 0 !important;
  }

  .z_indexCalss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .displaynone {
    display: none;
  }
}
